
@tailwind base;
@tailwind components;
@tailwind utilities;



.home-body-bg {
  --fd-background: 0 0% 3.9%;
  background-color: hsl(var(--fd-background) / 1);
}

html {
  font-family: "Onest Variable", system-ui, sans-serif;

}